* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    z-index: 1000;
}

nav.scrolled {
    background-color: #111;
}

.logo {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00ffff;
}

.section {
    height: 100vh;
    padding-top: 120px;
    text-align: center;
    background: linear-gradient(#1e3c72, #2a5298);
    color: white;
}

.section:nth-child(even) {
    background: linear-gradient(#000428, #004e92);
}
